/* line 1, ../../../Desktop/lucas-portfolio/src/scss/reset.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Poppins', sans-serif;
  font-size: 1em;
  text-decoration: none;
}

/* line 10, ../../../Desktop/lucas-portfolio/src/scss/reset.scss */
.p-large {
  padding: 2rem 0;
}

/* line 13, ../../../Desktop/lucas-portfolio/src/scss/reset.scss */
.p-small {
  padding: 0.8rem 0;
}

/* line 3, ../../../Desktop/lucas-portfolio/src/scss/styles.scss */
.logo {
  font-family: 'Galada', cursive;
  font-size: 2.5em;
  color: white;
  padding: 1.5rem 0;
}

/* line 10, ../../../Desktop/lucas-portfolio/src/scss/styles.scss */
.main-header {
  min-height: 350px;
  background: url("../assets/image-1.jpeg") no-repeat fixed center center;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 92.5px;
}

@media screen and (max-width: 560px) {
  /* line 10, ../../../Desktop/lucas-portfolio/src/scss/styles.scss */
  .main-header {
    margin-bottom: 75.5px;
  }
}

/* line 23, ../../../Desktop/lucas-portfolio/src/scss/styles.scss */
.cover-image {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
}

/* line 33, ../../../Desktop/lucas-portfolio/src/scss/styles.scss */
.main-hero {
  z-index: 30;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem 12px;
}

/* line 49, ../../../Desktop/lucas-portfolio/src/scss/styles.scss */
.name {
  text-align: center;
  font-size: 2.5em;
  color: white;
}

@media screen and (max-width: 560px) {
  /* line 49, ../../../Desktop/lucas-portfolio/src/scss/styles.scss */
  .name {
    font-size: 1.5em;
  }
}

/* line 58, ../../../Desktop/lucas-portfolio/src/scss/styles.scss */
.hero-social {
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  text-align: center;
  padding: 0.2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 400px;
  width: 100%;
}

/* line 69, ../../../Desktop/lucas-portfolio/src/scss/styles.scss */
.social-container {
  margin: 4px;
  padding: 8px;
  border-radius: 4px;
  background: #AE385E;
  color: #FFF;
  padding: 0.5rem 1rem;
  width: 150px;
  text-align: center;
}

/* line 80, ../../../Desktop/lucas-portfolio/src/scss/styles.scss */
.hero-occupation {
  text-align: center;
  color: #f1f1f1;
  padding: 1.5rem 0;
}

/* line 86, ../../../Desktop/lucas-portfolio/src/scss/styles.scss */
.photo-span {
  height: 105px;
}

/* line 90, ../../../Desktop/lucas-portfolio/src/scss/styles.scss */
.photo-container {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid #AE385E;
}

/* line 100, ../../../Desktop/lucas-portfolio/src/scss/styles.scss */
.photo {
  width: 125px;
  height: 125px;
  object-fit: cover;
  object-position: center;
}

@media screen and (max-width: 560px) {
  /* line 100, ../../../Desktop/lucas-portfolio/src/scss/styles.scss */
  .photo {
    width: 95px;
    height: 95px;
  }
}

/* line 111, ../../../Desktop/lucas-portfolio/src/scss/styles.scss */
.main-content {
  min-height: 250px;
  padding: 1rem;
}

/* line 116, ../../../Desktop/lucas-portfolio/src/scss/styles.scss */
.primary-title {
  font-size: 1.4em;
  color: #444;
  text-align: center;
}

/* line 121, ../../../Desktop/lucas-portfolio/src/scss/styles.scss */
.secondary-title {
  font-size: 1.2em;
  color: #a9a9a9;
  text-align: center;
}

/* line 126, ../../../Desktop/lucas-portfolio/src/scss/styles.scss */
.paragraph-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* line 131, ../../../Desktop/lucas-portfolio/src/scss/styles.scss */
.paragraph {
  line-height: 1.6;
  color: #a9a9a9;
  max-width: 560px;
}

/* line 137, ../../../Desktop/lucas-portfolio/src/scss/styles.scss */
.cards-container {
  padding: 4rem 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 150px));
  grid-gap: 1rem;
}

/* line 146, ../../../Desktop/lucas-portfolio/src/scss/styles.scss */
.icon-container {
  background: red;
  height: 100px;
}

/*# sourceMappingURL=styles.css.map */