@import "./variables.scss";
@import "./reset.scss";

.logo{
    font-family: 'Galada', cursive;
    font-size: 2em;
}
.main-header{
    height: 350px;
    background: #d9d9d9;
    position: relative;

    padding-bottom: 45px;
}
.main-hero{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    height: 100%;
}
.name{
}
.hero-social{
    padding: 0.2rem;
    background: lightgreen;
    display: flex;
}
.icon-container{
    margin: 4px;

    padding: 8px;
    background: darkred;
    border-radius: 5px;
}
.icon{
    color: #fff;
}