$primary: #AE385E;
$color: #444;
$color-secondary: #a9a9a9;
@mixin textNowrap {
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
}